/* clear box style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, dialog {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: none;
  vertical-align: baseline;
  box-sizing: border-box;
  appearance: none;
}
/* make it a block */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, svg, canvas {
  display: block;
}
/* constrain to container */
img, svg {
  max-width: 100%;
  max-height: 100%;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img, svg {
  object-fit: contain;
}
/* remove clear button from ios search fields */
input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}
dialog {
  margin: auto;
}
/* END RESET */
